.visible-xs__inline
  display none !important
  @media (max-width 48em)
    display inline-block !important

.visible-sm__inline
  display none !important
  @media (min-width 48em) and (max-width 64em)
    display inline-block !important

.visible-md__inline
  display none !important
  @media (min-width 64em) and (max-width 75em)
    display inline-block !important

.visible-lg__inline
  display none !important
  @media (min-width 75em)
    display inline-block !important
