.visible-xs__block
  display none !important
  @media (max-width 48em)
    display block !important

.visible-sm__block
  display none !important
  @media (min-width 48em) and (max-width 64em)
    display block !important

.visible-md__block
  display none !important
  @media (min-width 64em) and (max-width 75em)
    display block !important

.visible-lg__block
  display none !important
  @media (min-width 75em)
    display block !important
