.hidden-xs
  @media (max-width 48em)
    display none !important

.hidden-sm
  @media (min-width 48em) and (max-width 64em)
    display none !important

.hidden-md
  @media (min-width 64em) and (max-width 75em)
    display none !important

.hidden-lg
  @media (min-width 75em)
    display none !important