.visible-xs
  display none !important
  @media (max-width 48em)
    display flex !important

.visible-sm
  display none !important
  @media (min-width 48em) and (max-width 64em)
    display flex !important

.visible-md
  display none !important
  @media (min-width 64em) and (max-width 75em)
    display flex !important

.visible-lg
  display none !important
  @media (min-width 75em)
    display flex !important
