.visible-xs-inline
  display none !important
  @media (max-width 48em)
    display inline !important

.visible-sm-inline
  display none !important
  @media (min-width 48em) and (max-width 64em)
    display inline !important

.visible-md-inline
  display none !important
  @media (min-width 64em) and (max-width 75em)
    display inline !important

.visible-lg-inline
  display none !important
  @media (min-width 75em)
    display inline !important
