.visible-xs-inline-block
  display none !important
  @media (max-width 48em)
    display inline-block !important

.visible-sm-inline-block
  display none !important
  @media (min-width 48em) and (max-width 64em)
    display inline-block !important

.visible-md-inline-block
  display none !important
  @media (min-width 64em) and (max-width 75em)
    display inline-block !important

.visible-lg-inline-block
  display none !important
  @media (min-width 75em)
    display inline-block !important
