.flex-column
  flex-direction column

.flex-column__xs
  @media (max-width 48em)
    flex-direction column

.flex-column__sm
  display none !important
  @media (min-width 48em) and (max-width 64em)
    flex-direction column

.flex-column__md
  display none !important
  @media (min-width 64em) and (max-width 75em)
    flex-direction column

.flex-column__lg
  display none !important
  @media (min-width 75em)
    flex-direction column